.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #000;
  color: #fff;
}

.logo {
  max-width: 300px;
  margin-bottom: 20px;
}

.title {
  font-size: 3rem;
  margin: 0;
}

.subtitle {
  font-size: 1.2rem;
  color: #ccc;
}
